* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: white;
	box-sizing: border-box;

}

body{
	
}
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}
nav .left-side {
	padding: 28px;
}
nav .right-side {
	display: flex;
	padding: 28px;
}
nav .right-side .nav-item {
	padding: 10px;
	cursor: pointer;
}

.home {
    background-position: center;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
}
#body {
    background-image: url("Images/home.jpg");
}
.welcome {
	display: flex;
	justify-content: center;
	align-content: center;
}
.section-wrapper {
	margin-top: 200px;
	margin-bottom: 180px;
	text-align: center;
}
.section-wrapper p{
 line-height: 150%;
 font-weight: bold;
 font-size: 18px;
}

span {
  content: "\2694";
}
.godImg {
	height: 220px;
	width: 220px;
	border: 2px solid white;
    border-radius: 25px;
	margin-bottom: 20px;
	float: left;
}
#godDiv {
	clear: both;
	min-height: 220px;
	background-color: rgba(255,255,255, 0.3);
	border: 2px solid white;
    border-radius: 25px;
}
#godName {
	margin: 20px;
	position: relative;
	right: 100px;

}
#godDesc {


}
#godInfo {

}
.footer {
	text-align: center;
	margin-bottom: 20px;
	clear: both;
}
