* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: white;
}

body{
	
}
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}
nav .left-side {
	padding: 28px;
}
nav .right-side {
	display: flex;
	padding: 28px;
}
nav .right-side .nav-item {
	padding: 10px;
	cursor: pointer;
}

.home {
    background-position: center;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
}
#body {
    background-image: url("Images/home.jpg");
}
.welcome {
	display: flex;
	justify-content: center;
	align-content: center;
}
.section-wrapper {
	margin-top: 200px;
	margin-bottom: 180px;
	text-align: center;
}
.section-wrapper p{
 line-height: 150%;
 font-weight: bold;
 font-size: 18px;
}

span {
  content: "\2694";
}
.footer {
	text-align: center;
	margin-bottom: 20px;
}
